/Ejercicio1/nbproject/private/
/Ejercicio1/build/
/ejercicios_libro_resueltos/actividades_propuestas/8_updateNull/src/8_updateNull/build/
/ejercicios_libro_resueltos/actividades_propuestas/9_Lotes/src/9_Lotes/build/
/Ejercicios_De_Clases/Tema 3 - JDBC/Ejemplo.DAO/dist/
/ejercicios_libro_resueltos/ejercicios_propuestos/1_Navegacion_Tabla_Clientes/prj/1_NavegacionTablaClientes/build/
/ejercicios_libro_resueltos/ejercicios_propuestos/2_Navegacion_Tabla_Generico/prj/2_NavegacionTablaGenerico/build/
/Recursos/Java/jdk-11
/Tema 4 - Correspondencia Objeto Relacional/SaveOrUpdate/build/
/Tema 4 - Correspondencia Objeto Relacional/SaveOrUpdate/nbproject/private/
/Tema 4 - Correspondencia Objeto Relacional/Proyecto_Padron/CreaComunidades/nbproject/private/
/Tema 4 - Correspondencia Objeto Relacional/Proyecto_Padron/CreaComunidades/build/
/Tema 4 - Correspondencia Objeto Relacional/Proyecto_Padron/CreaProvincias/CreaProvincias/nbproject/private/
/Tema 4 - Correspondencia Objeto Relacional/Proyecto_Padron/CreaProvincias/CreaProvincias/build/
/Tema 4 - Correspondencia Objeto Relacional/Proyecto_Padron/CreaProvincias/CreaProvincias/dist/
/Tema 4 - Correspondencia Objeto Relacional/Proyecto_Padron/CreaLocalidades/nbproject/private/
/Tema 4 - Correspondencia Objeto Relacional/Proyecto_Padron/CreaLocalidades/build/
/Tema 4 - Correspondencia Objeto Relacional/9-ORM_herencia_tabla_para_la_jerarquia/nbproject/private/
/Tema 4 - Correspondencia Objeto Relacional/EliminacionDeJerarquia/nbproject/private/
/Tema 4 - Correspondencia Objeto Relacional/EliminacionDeJerarquia/build/